.cardWidth {
	width: 18rem;
}
.card-body {
	height: 207px;
}
.card-title {
	height: 70px;
}
.card-text {
	height: 170px;
}
.cartImage {
	height: 180px;
}
.card-height {
	height: 240px;
}
.card-height-amount {
	height: 330px;
}
.ml-40 {
	margin-left: 40px;
}
.card-link {
	cursor: hand;
}
.margin-center {
	margin: 8% 35%;
}
.height {
	min-height: 200px;
}
